* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100%;
  width: 100%;
  margin: 0rem auto;
  font-family: sans-serif !important;
  background: url(./Image/ezgif.com-gif-maker.gif) no-repeat;
  background-size: cover;
}

body {
  max-width: 1399px;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}

.react-reveal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 100%;
  padding: 12px 24px;
  color: white;
}

.p-15 {
  padding: 15px;
}

.smallText {
  letter-spacing: 1px;
  line-height: 30px;
}

/* #########################navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container {
  max-width: 200px;
  padding: 1rem 2rem;
}

.navbar-menu-container {
  display: none;
  padding: 0 10%;
  font-size: 18px;
  color: white;
}

.navbar-links-container a {

  margin-right: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}

.navbar-links-container :hover {
  opacity: 0.5;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* ##################################################3 */
.big-text {
  font-size: 44px;
  font-weight: 900;
}

.main-content-1,
.col {
  /* background: linear-gradient(#19e5fb, #00BEFF, #0081F4);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding: 100px 0;
}
.col{
  color: #00BEFF ;
}
.small-box {
  max-width: 300px;
  font-size: 12px;
}

.ph-50 {
  padding: 50px 0;
}

.flex-small-box {
  display: flex;
  justify-content: space-between;
  border-bottom: #727aff 2px solid;
  align-items: center;
}

.Bb {
  border-bottom: #727aff 2px solid;

}

.grid-box {
  display: grid;
  gap: 10px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  object-position: center;
  grid-template-columns: 1fr 1fr;
}

.grid-scroll {
  display: grid;
  justify-content: center;
  align-items: center;
  object-position: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ################################################################## */

.work-image img {
  max-width: 400px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
}

.list-no {
  padding-bottom: 25px;
  font-size: 22px;
}

.list-head {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
}

.lists {
  font-size: 14px;
  font-weight: 500;
}

/* ###########################################3 */
.link-box a {
  font-size: 18px;
  font-weight: 700;
  color: #de265d;
  letter-spacing: 7px;
}

span {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 22px;
}

.project-container {
  height: 100%;
  padding: 10%;
}

.project-para {
  font-size: 18px;
  line-height: 30px;
}

.project-shot-para {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.project-image img {
  max-width: 600px;
  max-height: 450px;
  object-fit: cover;
  border-radius: 8px;

}

.line-text {
  font-size: 32px;
  letter-spacing: 1.5;
  font-weight: 600;
  opacity: 0.5px;
  width: 100%;
  /* position: absolute; */
}
.move{
  display: grid;
  justify-content: center;
 padding-bottom: 50px;
}
/* 
.slow{
  font-size: 50px;
  animation: change 10s linear infinite ;
  width: 1000px;
  
}
.move{
  animation: change 5s linear infinite alternate-reverse;
}
.line:hover{
  animation-play-state: paused;
  
}
@keyframes change {
  0%{
    transform: translateX(0);
  }
  50%{
  transform: translateX(50%);  
  }
  100%{
   transform: translateX(100%);
  }
} */

.founders {
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  padding: 15px 10%;
}

.founder-image img {
  max-width: 300px;
  max-width: 450px;
  object-fit: cover;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px;
  background: #007efc;
  opacity: 0.5;
}

.founder-image img:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 400ms;

}

/* #################################### */
/* footer */
.footer {
  height: 100%;
  background: white;
  color: black;
}

.footer-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  padding: 10% 30px;
}

.Bu {
  border-top: #007efc 1px solid;
}

.footer-text-h1 {
  font-size: 66px;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 10px;
}

.footer-text-p {
  font-size: 50px;
  letter-spacing: 1.5px;
  padding: 10px;
}

.add-head {
  color: #008fbf;
  line-height: 20px;

}

.footer-nav a {
  padding: 25px 0;
  color: #0054b4;
  text-decoration: none;
  font-size: 12px;
  z-index: 1;
}


/* ######################       social icon ################# */

.social-media {
  display: flex;
  gap: 5%;
  padding: 15px 0;
}

.social-media a {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 6px;
  z-index: 3;
  font-weight: 900;
  border: 1px solid #fff;

}

.social-media a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-media :hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.github :before {
  background: #3b5999;
}

.insta :before {
  background: #55acee;
}

.linkdin:before {
  background: #0077b5;
}

.col {
  color: linear-gradient(#19e5fb, #00BEFF, #0081F4);
}


/* ########################3333 */
